openapi: 3.0.0


info:
 version: '1.0'
 title: 'LBAW MediaLibrary Web API'
 description: 'Web Resources Specification (A7) for SWC News'

servers:
- url: http://lbaw.fe.up.pt
 description: Production server

externalDocs:
 description: Find more info here.
 url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07

tags:
 - name: 'M01: Authentication and Indivual Profile'
 - name: 'M02: Posts and Comments'
 - name: 'M03: Users'
 - name: 'M04: Feed and Search'
 - name: 'M05: Notifications'

paths:
  /login:
    get:
      operationId: R101
      summary:'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          descriptors: 'Ok. show Log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:          # <!--- form field name
                  type: string
                password:    # <!--- form field name
                  type: string
              required:
                -email
                -password
      responses:
        '302':
          description: 'Redirect after login credentials are processed.'
          
        


