openapi: 3.0.0


info:
 version: '1.0'
 title: 'LBAW MediaLibrary Web API'
 description: 'Web Resources Specification (A7) for SWC News'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
 description: Find more info here.
 url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07

tags:
 - name: 'M01: Authentication and Individual Profile'
 - name: 'M02: Posts and Comments'
 - name: 'M03: Users'
 - name: 'M04: Feed and Search'
 - name: 'M05: Notifications'

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. show Log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirect after login credentials are processed.'
  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'
  /posts:
    post:
      operationId: R201
      summary: 'R201: Create a new post'
      description: 'Create a new post'
      tags:
        - 'M02: Posts and Comments'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
              required:
                - title
                - content
      responses:
        '201':
          description: 'New post created successfully'
          content:
            application/json:
              schema:
                type: object
                properties:
                  postId:
                    type: integer
                  message: 
                    type: string
                    example: 'Post created successfully'
  /posts/{postId}:
    get:
      operationId: R202
      summary: 'R202: View a post'
      description: 'View details of a specific post'
      tags:
        - 'M02: Posts and Comments'
      parameters:
        - in: path
          name: postId
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success. Details of the post retrieved.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  postId:
                    type: integer
                  title:
                    type: string
                  content:
                    type: string
                  comments:
                    type: array
                    items:
                      type: object
                      properties:
                        commentId:
                          type: integer
                        content:
                          type: string
                        userId:
                          type: integer
                        votes:
                          type: integer
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
    delete:
      operationId: R203
      summary: 'R203: Delete own post'
      description: "Delete one's own post"
      tags:
        - 'M02: Posts and Comments'
      parameters:
        - in: path
          name: postId
          schema:
            type: integer
          required: true
      responses:
        '204':
          description: 'Post deleted successfully'
  /posts/{postId}/comments:
    post:
      operationId: R204
      summary: 'R204: Create comment on a post'
      description: 'Create a comment on a specific post'
      tags:
        - 'M02: Posts and Comments'
      parameters:
        - in: path
          name: postId
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        '201':
          description: 'Comment created successfully'
          content:
            application/json:
              schema:
                type: object
                properties:
                  commentId:
                    type: integer
                  message: 
                    type: string
                    example: 'Comment created successfully'
  /posts/{postId}/comments/{commentId}:
    delete:
      operationId: R205
      summary: 'R205: Delete a comment'
      description: 'Delete a comment on a post'
      tags:
        - 'M02: Posts and Comments'
      parameters:
        - in: path
          name: postId
          schema:
            type: integer
          required: true
        - in: path
          name: commentId
          schema:
            type: integer
          required: true
      responses:
        '204':
          description: 'Comment deleted successfully'         
  /users/{id}:
    get:
      operationId: R301
      summary: 'R301: View user information'
      description: 'Retrieve details of a specific user'
      tags:
        - 'M03: Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success. Details of the user retrieved.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: integer
                  username:
                    type: string
                  email:
                    type: string
  /users/{id}/posts:
    get:
      operationId: R302
      summary: 'R302: View user posts'
      description: 'Retrieve posts created by a specific user'
      tags:
        - 'M03: Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success. Posts by the user retrieved.'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    postId:
                      type: integer
                    title:
                      type: string
                    content:
                      type: string
  /users/{id}/follow:
    post:
      operationId: R303
      summary: 'R303: Follow a user'
      description: 'Follow another user'
      tags:
        - 'M03: Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '201':
          description: 'Success. User followed.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: 
                    type: string
                    example: 'User followed successfully'